@page
@model SimplCommerce.WebHost.Pages.Order.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].OrderUniqueKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].ShipmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].PickUpInStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].IsCancelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyOrder[0].IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StormyOrder) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderUniqueKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpInStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCancelled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
