@page
@model SimplCommerce.WebHost.Pages.Product.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].MediaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].ProductLinksId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].QuantityPerUnity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].AvailableSizes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].UnitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Diameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].ThumbnailImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].ProductCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].PublishedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].RatingAverage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StormyProduct[0].IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StormyProduct) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductLinksId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSizes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingAverage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
